{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Estoy aquí</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus explicabo at provident veniam optio debitis laborum quia, aliquid in illum? Modi laborum illum debitis delectus aspernatur provident, odit libero voluptatum magni fugit est rem incidunt excepturi commodi nulla deserunt necessitatibus quaerat tempore atque corporis laboriosam ipsam. Perferendis quae eligendi doloribus.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/img-1.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}